<!doctype html>
<html lang="en">
  <head>
    <title>Trials Game Engine</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/engine.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        monitorStatus()
      });
    </script>
  </head>
  <body>
    <title>Trials Game Engine</title>

    <div id="wrap">
      <div id="left-col">
	<h2>
	  Status
	</h2>
	<p><span id="state">{{ status.state }}</span></p>
      </div>
    </div>
  </body>
</html>
