<!doctype html>
<html lang="en">
  <head>
    <title>Simple Worker/Consumer Demo</title>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/js/queueData.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        plotSummary({{ error }}, {{ warning }}, {{ debug }}, {{ info }});
        plotQueue("{{ queue_name }}");
        document.getElementById('manage-containers').src = "http://" + window.location.hostname + ":8080/service/marathon/ui/#/group/%2Fmicroscaling";
      });
    </script>
    <style type="text/css">
      #wrap {
        width: 100%
        margin: 0 auto;
      }
      #left-col {
        float: left;
        width: 30%;
      }
      #right-col {
        float: right;
        width: 68%;
        height: 600px;      
      }
      </style>
  </head>
  <body>
    <title>ACS Logging Demo</title>

    <div id="wrap">
      <div id="left-col">
	<form method="post" action="/send">
	  <label>Message</label><input type="text" name="message"></input>
	  <input type="submit"></input>
	</form>
    
	<h1>Queue Length: <span id="queueLength">Unknown</span></h1>
    
	<h2>Summary Data</h2>
	<div id="summaryChart" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
      </div>
      
      <div id="right-col">	
<iframe id="manage-containers" height="100%" width="100%"></iframe>
      </div>
    </div>
  </body>
</html>
