<!doctype html>
<html lang="en">
  <head>
    <title>Simple Worker/Consumer Demo</title>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
    <script>
      function plotSummary() {
        var trace1 = {
          x: ['Error', 'Warning', 'Debug', 'Info'],
          y: [{{ error }}, {{ warning }}, {{ debug }}, {{ info }}],
          name: 'Worker/Consumer Demo',
          type: 'bar'
        };

        var data = [trace1];

        var layout = {barmode: 'group'};

        Plotly.newPlot('summaryChart', data, layout);
      }

      function plotQueueChart() {
        function iteration() {
          setTimeout(iteration, 1000);
          document.getElementById("queueLength").innerHTML = "{{ length }}";
        }
        
        iteration();
      }
    </script>
    <style type="text/css">
      #wrap {
        width: 100%
        margin: 0 auto;
      }
      #left-col {
        float: left;
        width: 30%;
      }
      #right-col {
        float: right;
        width: 68%;
        height: 600px;      
      }
      </style>
  </head
   <body>
    <title>ACS Logging Demo</title>

    <div id="wrap">
      <div id="left-col">
	<form method="post" action="/send">
	  <label>Message</label><input type="text" name="message"></input>
	  <input type="submit"></input>
	</form>
    
	<h1>Queue Length: <span id="queueLength">Unknown</span></h1>
    
	<h2>Summary Data</h2>
	<div id="summaryChart" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
      </div>
      
      <div id="right-col">
	<iframe src="http://localhost/service/marathon" height="100%" width="100%"></iframe>
      </div>
    </div>
    
    <script>
      plotSummary();
      plotQueueChart();
    </script>
  </body>
</html>
